body, html {
    height: 100%;
    text-transform: lowercase;
}
.images{
    margin: 10px auto:
}

header {
    margin: 30px auto;
}
intro{
    text-align: center;
}

/* Navigation
------------------------------------------------------------ */
.navbar {
    text-align: center;
    padding-top: 20px;
}
.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid #000000;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid #000000;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid #000000;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  padding: 5px 0;
    display:block;
}
li a {
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}

/* Feed
------------------------------------------------------------ */
#feed {
    text-align: center;
}

#feed img {
    width: 100%;
}

/* Facebook
------------------------------------------------------------ */
#facebook {
    text-align: center;
}

/* Subscribe
------------------------------------------------------------ */
#subscribe form {
    width: 80%;
    background-color: #993d33;
    padding: 30px;
    margin: 0 auto;
}

#subscribe form p {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}
#subscribe input {
    margin: 10px auto;
    display: block;
    width: 60%;
    height: 40px;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 0px;
}

#subscribe button {
    margin: 10px auto;
    display: block;
    width: 60%;
    height: auto;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}

/* Social
------------------------------------------------------------ */
.fa {
    color: #ffffff;
    padding: 0 10px;
}

/* Admin
------------------------------------------------------------ */

.admin-buttons button {
    width: 60%;
    display: block;
    margin: 20px auto;
}

/* Mobile
------------------------------------------------------------ */

@media only screen and (max-width : 640px) {

	
}