body, html {
    height: 100%;
    text-transform: lowercase;
}
header {
    margin: 30px auto;
}
#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
}


/* Navigation
------------------------------------------------------------ */
.navbar {
    text-align: center;
    padding-top: 20px;
}
.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid #000000;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid #000000;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid #000000;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  padding: 5px 0;
    display:block;
}
li a {
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}

/* Feed
------------------------------------------------------------ */
#feed {
    text-align: center;
}

#feed img {
    width: 100%;
}

/* Facebook
------------------------------------------------------------ */
#facebook {
    text-align: center;
}

/* Subscribe
------------------------------------------------------------ */
form {
    width: 80%;
    background-color: #993d33;
    padding: 30px 0;
    margin: 0 auto;
}

form p {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}
input {
    margin: 10px auto;
    display: block;
    width: 58%;
    height: 40px;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 0px;
}

#subscribe button {
    margin: 10px auto;
    display: block;
    width: 60%;
    height: auto;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}

#subscribe p {
    color: #ffffff;
}
input[type=email] {
  padding-left: 20px;
}

input[type=text] {
  padding-left: 20px;
}

input[type=password] {
  padding-left: 20px;
}


#subscribe input[type=submit] {
  background-color: black;
  width: 70%;
  border-radius: 0;
}

.admin-login input[type=submit] {
  width: 60%;
}

#mc_embed_signup .clear {
    text-align: center;
}

form h3 {
    color: #ffffff;
}

/* Wait
------------------------------------------------------------ */
#wait {
  text-align: center;
  background: #993d33;
  padding: 4rem 3rem;
}

#wait h2, #wait h3, p{
  color: #ffffff;
}

#wait p {
    font-size: 18px;
}



/* Social
------------------------------------------------------------ */
.fa {
    color: #ffffff;
    padding: 5px 5px;
}

/* Admin
------------------------------------------------------------ */

.admin-buttons button {
    width: 80%;
    display: block;
    margin: 20px auto;
}

.admin-login h3 {
    letter-spacing: 2px;
}

/* Mobile
------------------------------------------------------------ */

@media only screen and (max-width : 640px) {


}
/* About
------------------------------------------------------------ */
.about{
    text-align: center;
}
#developers{
    background: #993d33;
    text-align: center;
    width: 300px;
}
.caption{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bold;
}

.images{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


/* Analytics
------------------------------------------------------------ */

#analytics {
    width: 80%;
    text-align: center;
}

